*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul{
  list-style: none;
}
body{
  background: #2980b9; 
  background: -webkit-linear-gradient(to bottom, #2980b9, #6dd5fa, #ffffff); 
  background: linear-gradient(to bottom, #2980b9, #6dd5fa, #ffffff);
}
body *{
  font-family: 'Roboto', sans-serif;
}
#app{  
  width: fit-content;
  margin: auto;
  padding-top: 52px;
  
}
header{
  text-align: center;
  margin-bottom: 63px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
#cards{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.card{
  padding: 32px 23px;
  text-align: center;
  padding: 18px 16px;
  border-radius: 6px;
  background: #1d1c19;
  border-bottom: 5px solid #f7dd43;
  border-radius: 10px;
}
.card h2{
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffffff;
  padding: 8px 16px;
  border-radius: 6px;
  width: fit-content;
  margin-inline: auto;
  margin-bottom: 53px;
  color: #1d6792;
}
.card h2 span{
  color: #e1e1e6;
  font-size: 14px;
  text-transform: uppercase;

}
.card ul{
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 270px;
}
.card ul li{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card ul li + li{
  padding-top: 24px;
  border-top: 1px solid #323228;
}
.card ul li strong{
  font-weight: 900;
  font-size: 2rem;
  line-height: 125%;
  text-align: center;
  color: #e1e1e6;
  padding: 10px;
}
.card h2:hover,
.card ul lio strong:hover,
.card ul li img:hover{
  transform: scale(1.1);
}
.card h2,
.card ul li strong,
.card ul li img{
  transition: transform 0.3s;
}
.card{
  opacity: 0;
  animation: appear .2s forwards;
}
@keyframes appear{
  0%{
    transform: translateY(-50px);
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@media (min-width: 700px) {
  #cards{
    flex-direction: row;
    max-width: 670px;
    flex-wrap: wrap;
  }

}